{
  "SUPABASE_URL": "https://xtsgylbgmmclbaminsbt.supabase.co",
  "SUPABASE_ANON_KEY": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh0c2d5bGJnbW1jbGJhbWluc2J0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2MjY4NDcsImV4cCI6MjA5MDIwMjg0N30.Fwea5pUQatHJla0o9dQ3WiaSy5J6xPMYmnDYJgjuyNI"
}
